<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Modération
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#">{{ __("MODERATESERIES") }} Modérer les séries / Moderate series</a></li>
        <li><a href="#">{{ __("MODERATECOMM") }} Modérer les commentaires / Moderate comments</a></li>
        <li><a href="#">{{ __("MANAGMOD") }} Gérer les modérateurs / Manage Moderators</a></li>
        <li><a href="#">{{ __("MANAGBANS") }} Gérer les bans / Manage bans</a></li>
    </ul>
</li>
