<!-- Navigation : recherche-->
<nav class="navbar white navbar-default ct-no-margin">
    
    <div class="container-fluid">
        <div class="row row-eq-height">

            <div class="col-md-3">
                <!--navbar brand-->
                <div class="navbar-brand ct-navbar-brand" href="#page-top">
                    <img src="img/logo.png">
                    <span>
                        <p class="ct-txt-yellow ct-txt-larger">FishBlock</p>
                        <p class="ct-txt-large">Le site qu'il est bien pour les séries</p>
                    </span>
                </div>
            </div>

            <div class="col-md-9 col-flex-centered">
                <!-- formulaire de recherche -->
                <form>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon " id="sizing-addon1">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </form>
            </div>

        </div>
    </div>
</nav>

<!-- Navigation : liens-->
<nav class="navbar white navbar-default ct-no-margin">
    
    <div class="container-fluid">
    <div class="row row-eq-height">

        <!--bouton toggle -->
        <div class="col-md-12 col-flex-centered" >
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-responsive">
                    <span class="sr-only">Menu</span> Menu <i class="fa fa-bars"></i>
                </button>
            </div>
        
            <!-- Menu responsive -->
            <div class="collapse navbar-collapse" id="menu-responsive">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="#" >Accueil</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#" >Séries</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#" >Chat</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#" >Contribuer</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#" >Profil</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Modération
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Modérer les séries</a></li>
                            <li><a href="#">Modérer les commentaires</a></li>
                            <li><a href="#">Gérer les modérateurs</a></li>
                            <li><a href="#">Gérer les bans</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</nav>