{% extends "layout/layout.twig" %}

{% block content %}
<div id="degrade4">
<div id="deadurl">
 <img id="err" src="/img/error.png">
 <br>
 <br>
 <h2>
{{ __("ERROR")}}
</h2>
<h3>
{{ error }}
</h3>
</div>
</div>
{% endblock %}