<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ __("SITENAME") }} - {{ __("HOME") }}</title>
</head>
<body>
<p>{{ __("HELLO") }}</p>
<p>{{ __("UNAUTH") }}</p>
</body>
</html>