{% extends "layout/layout.twig" %}

{# scripts #}
{% block header %}
    <script src="js/series.js"></script>
{% endblock %}

{# contenu #}
{% block content %}
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
{% endblock %}