{% extends "layout/layout.twig" %}

{# scripts #}
{% block header %}
    <script src="js/series.js"></script>
{% endblock %}

{# contenu #}
{% block content %}
    <div class="container-fluid">
        <div class ="row">
            <div class="media">
                <img class="d-flex align-self-start mr-3 poster" src="{{ serie.poster }}" alt="{{ serie.title }}"></img>
                <div class="media-body">
                    <div class="mt-0">{{ serie.title }}</div>
                    <p>{{ serie.overview }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}