{% extends "layout/layout.twig" %}

{% block content %}

    <div class="container-fluid">
        <div class="row ct-bg-grey ct-fs-block">
            <div class="col-md-offset-2 col-md-6">

	<img class="avatar" src=""/>

            </div>
        </div>
    </div>


wall
    {{ user.pseudo }}

{% endblock %}