<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <title>{{ __("SITENAME") }} - {{ __("HOME") }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="./../" target="_blank">

    <!-- jquery as bs dependency -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- googlefont dependency -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- bs-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- custom style -->
    <link href="css/style.css" rel="stylesheet">

    <!-- custom js -->
    <script src="js/bootstrap-custom.js"></script>
</head>

<body>
<div id="content">{% block content %}{% endblock %}</div>

<!-- footer -->
<footer>    
    <div class="container-fluid">
        <div class="row ct-bg-grey">
            <div class="col-md-offset-5 col-md-1">
                <a href="mailto:contact@site.com">Contact@site.com</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>